<!DOCTYPE html>
<html>
    <head>
        <title>My first views</title>
    </head>

    <body>
        <p>97 Bowling Alley Lane, Boulder CO </p>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <img src="https://s3.amazonaws.com/learn-verified/bowling.gif" hspace="10" align="right" width="300px">
    </body>
</html>